.signUpScreen {
    background-image: url('../../images/josh-wedgwood-river-etive-unsplash.jpg');
    background-size: cover;
    display: flex;
    background-color: burlywood;
    height: fit-content;
    width: 100%;
}

.signUpScreen__mainContainer {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-height: 950px;
    background-color: #0077B6;
    justify-content: center;
    align-items: center;
}

.signUpScreen__mainContainer--logo {
    height: 400px;
    width: 400px;
    background-color: #caf0f8;
    margin-top: 50px;
}

.signUpScreen__mainContainer--form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 500px;
    justify-content: center;
    align-items: center;
}

.signUpScreen__mainContainer--form input {
    width: 400px;
    margin: 5px 50px;
}

.signUpScreen__mainContainer--form p {
    color: white;
    font-size: medium;
    font-weight: bold;
    margin: 10px;
}

.signUpScreen__mainContainer--form-select {
    margin-bottom: 20px;
}

.signUpScreen__mainContainer--form-textarea {
    width: 400px;
    margin-bottom: 20px;;
}

.signUpScreen__mainContainer--form-buttonContainer {
    width: 400px;
}

.signUpScreen__mainContainer--form-button {
    width: 100%;
}