.loginScreen {
    background-image: url('../../images/julie-thornton-ocoee-unsplash.jpg');
    background-size: cover;
    display: flex;
    background-color: burlywood;
    height: fit-content;
    width: 100%;
}

.loginScreen__mainContainer {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-height: 980px;
    background-color: #0077B6;
    justify-content: center;
    align-items: center;
} 

.loginScreen__mainContainer main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginScreen__mainContainer--logo {
    height: 400px;
    width: 400px;
    background-color: #caf0f8;
    margin-top: 50px;
}

.loginScreen__mainContainer--form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 500px;
}
  
.loginScreen__mainContainer--form input {
    margin: 5px 50px;
}
  
.loginScreen__mainContainer--form button {
    margin: 5px 50px;
}

.loginScreen__mainContainer--signUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-bottom: 20px;
    padding: 20px;
    border: solid 5px #caf0f8;
    border-radius: 10px;
}

.loginScreen__mainContainer--signUp-text {
    color: white;
    font-size: large;
    font-weight: bold;
    margin-bottom: 20px;

}

.loginScreen__mainContainer--signUp-link {
    width: 500px;
}

.loginScreen__mainContainer--signUp-link a {
    width: 500px;
}
  
.loginScreen__mainContainer--signUp-link button {
    width: 100%;
}
